@import "tailwindcss";

body {
  @apply bg-[#cdabff];
}

@layer base {
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    transition: all 0.3s ease;
    color: #3e0b78;
  }

  .rowdies-regular:hover {
    transform: scale(1.05);
    color: #9e6dff;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  }

  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .quote-italic {
    font-style: italic;
    font-size: inherit;
    transform: skewX(-10deg);
    display: inline-block;
  }
}
